---
import { user$ } from "@/store";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Hello {user$.get().username}</h1>
		<code lang="json">{JSON.stringify(user$.get())}</code>
	</body>
</html>
